* {
    margin: 0; 
    padding: 0;
    font-family: 'Steelfish Rg', 'helvetica neue',
    helvetica, arial, sans-serif;
}
/* NAVBAR */


.navbar-div {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.navbar-ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 80px;
    background-image: url(img/metalpanelbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
li {
    float: left;
}
.launchbuttonul {
  display: flex;
  justify-content:right;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 80px;
}


/* NAVBAR BUTTONS */


.navbar-div li a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:rgba(66, 121, 204, 0.8);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-div li a:hover {
  background-color: #418abb7a;
}
.navbar-div li a.active {
  background-color: #418abb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.navbar-div .activelaunch {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.launchbutton { /*Background of launch button*/
  position: fixed;
  top: 0;
  width:250px;
  margin-left: 70%;
  z-index: 10;
}
.navbar-div .activelaunch:hover {
  background-color: red;
}
.launchbutton .launchclass { /* Actual launchbutton*/
  background-color:red;
  margin-right: 45px;
}
.launchbutton #launch:hover {
  background-color: red;
  box-shadow: 1px 5px 20px 10px #f59300;

}

/*Social Media Links*/

.social-links-frontpage {
  overflow: hidden;
  position: fixed;
  bottom: 10%;
  font-size: 64px;
  left: 50%;
}
.social-links-location {
  width: 50%;
  margin-left: auto;
  font-size: 64px;
  margin-top: 50px;
 }


/*Frontpage and the headers*/

#front-page {
    background-image: url(img/skyburgerfront.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


h1 {
    margin-top: 100px;
    text-align: center;
    color: dodgerblue;
    font-size: 3rem;
}
.frontpageheader2 {
    margin-top: 15px;
    text-align: center;
    color: dodgerblue;
    font-size: 1.4rem;
}
h2 {
    margin-top: 150px;
    text-align: center;
    color: dodgerblue;
    font-size: 2rem;
}
h3 {
    margin-top: 15px;
    text-align: center;
    color: dodgerblue;
    font-size: 1.4rem;
}

/*MENU ITEMS*/

#Menubody {

}

#MenuHeader {
  font-size: 2rem;
  background-color: rgba(137, 171, 223, 0.8);
  width: 40%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 100px;
  color: white;
  box-shadow: 0 7px gray;
  

  
}

.pricetag {
  text-align: right;
  font-size: 18px;
  color: orange;
}

.description {
  font-style: oblique;
}
.allergens {
  margin-top: 10px;
  margin-bottom: 10%;
}
.stack1 {
    display: flex;
    margin: 60px auto 50px auto;
    justify-content: center;
  }
.stack2 {
    display: flex;
    margin: 60px auto 50px auto;
    justify-content: center;
  }  
.stack3 {
    display: flex;
    margin: 60px auto 50px auto;
    justify-content: center;
}  
.menucard {
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 4px 4px 16px 8px rgba(66, 121, 204, 0.8);
    transition: 0.3s;
}
  .menucard:hover {
  box-shadow: 4px 4px 64px 32px rgba(66, 121, 204, 0.8);
  transform: scale(1.1);
}
  .textcontainer {
  background-color: white;
  height: 120px;
}

/*Horisontal Rocket Line*/

hr {
display: block;
transform: rotate(-1deg);
background: url(img/smallrocketwhite.jpg);
border: 0;
background-repeat: repeat;
background-attachment: scroll;
background-position: center;
height: 55px;
}

#mapembed {
  margin: 100px auto 100px auto;
  
}

/*BOOKING*/

#Booking {
  background-image: url(img/astrochill.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.Booking-Header1 {
  font-size: 1.8rem;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 2%;
}
.Booking-Header2 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 1%;
}
.Booking-Header2 a {
  color: rgb(0, 0, 0);
}
.Booking-Form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 600px;
  margin: 100px auto 150px auto;
  border: rgba(29, 66, 58, 0.2) solid 1px;
  background-color: rgba(9, 104, 212, 0.3);
}
.Booking-Header3 {
  font-size: 2rem;
  color: white;
  margin-top: 20px;
}
.Booking-Form input, textarea {
  font-size: 1rem;
  width: 70%;
  padding: 20px;
  padding-bottom: 18px;
  background-color: white;
  outline: rgba(0, 48, 87, 0.5) solid 1px;
  border: none;
  border-bottom: transparent solid 2px;
  transition: 0.2s ease-in-out;
}
.Booking-Form input:focus, textarea:focus {
  border-bottom: rgb(0, 48, 87) solid 2px;
}
.Booking-Submit {
  text-align: center;
  width: 30%;
}
.Booking-Submit input:hover {
  border-bottom: rgb(0, 48, 87) solid 2px;
}

/*LOCATION*/

#Location {
  background-image: url(img/kidmap.jpg);
}











/* Didnt use these for the sake of availability - But I did like how they turned out.

  .cardstack1 {
    display: flex;
    margin: 10px auto 20px auto;
    width: 1020px;
  }
  .cardstack2 {
    display: flex;
    margin: 10px auto 20px auto;
    width: 1020px;
  }
  .cardstack3 {
    display: flex;
    margin: 10px auto 20px auto;
    width: 1020px;
  }
  
  .flip-card {
    display: flex;
    margin: 10px auto 20px auto;
    width: 1020px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    background-color: orange;
    color: white;
    transform: rotateY(180deg);
  } */